*.user
src/HttpMock.sln.DotSettings

src/.vs/
src/.idea/

src/Core/bin/
src/Core/obj/
src/Core.Tests/bin/
src/Core.Tests/obj/
src/Runner/bin/
src/Runner/obj/
src/Runner.Tests/bin/
src/Runner.Tests/obj/
src/Server/bin/
src/Server/obj/
src/Server.Tests/bin/
src/Server.Tests/obj/
