*.user
src/HttpMock.sln.DotSettings

src/.vs/
src/Core/bin/
src/Core/obj/
src/Core.Tests/bin/
src/Core.Tests/obj/
src/Server/bin/
src/Server/obj/
src/Server.Tests/bin/
src/Server.Tests/obj/
src/VisualServer/bin/
src/VisualServer/obj/
src/VisualServer.Tests/bin/
src/VisualServer.Tests/obj/
