*.user
HttpMock.sln.DotSettings

.vs/
Client/bin/
Client/obj/
Core/bin/
Core/obj/
Core.Tests/bin/
Core.Tests/obj/
Server/bin/
Server/obj/
Server.Tests/bin/
Server.Tests/obj/
VisualServer.Tests/bin/
VisualServer.Tests/obj/
